In [6]:
# Import the pathlib and csv library
from pathlib import Path
import pandas as pd

In [7]:
# Set the file path
budget_data_csv = Path('./Resources/budget_data.csv')
budget_data_df = pd.read_csv(budget_data_csv)

In [8]:
budget_data_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [9]:
# total number of months
print(f"Total Months: {len(budget_data_df)-1}")

Total Months: 85

In [17]:
# net total amount of profit/losses over the entire period

sum_profit = 0
for x in budget_data_df["Profit/Losses"]:
    sum_profit += x
print(f"Net Total Amountof Profit/Losses over the entire period: /n ${sum_profit}")

Net Total Amountof Profit/Losses over the entire period: /n $38382578

In [ ]:
# the average of the changes in profit and losses over the entire period
 average_changes_profit/losses = sum_revenue_changes/len